<md-dialog  aria-label="Client"  ng-cloak style="width:800px">
    <form >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-model="locals">{{locals.test.question}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <table class="table table-striped table-hover" >
                    <tr ng-repeat="pregunta in locals.test.answer| orderBy:predicate:reverse">
                        <td>
                            {{pregunta.answer}}
                        </td>
                        <td>
                            <p ng-repeat="programa in pregunta.academicProgram| orderBy:predicate:reverse track by $index">
                                {{programa}}
                            </p>
                        </td>
                        <td>
                            <p ng-repeat="val in pregunta.valSum| orderBy:predicate:reverse track by $index">
                                {{val}}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="button alt" ng-click="cancel()" style="margin-right:20px;">Return</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
