<!-- Content -->
<article class="box post">
    <!--a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a-->
    <header>
        <a href="#/uniReg" class="button alt">Menu Principal</a> <br>   </br>
        <h2>Test</h2>
        <!--p>Lorem ipsum dolor sit amet feugiat</p-->
    </header>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th style="color: black; font-size: 150%; font-weight: bold">Pregunta</th>
                <th style="color: black; font-size: 150%; font-weight: bold">Respuestas</th>
                <th style="color: black; font-size: 150%; font-weight: bold">Descripción</th>
            </tr>
            <tr ng-repeat="todo in tests| orderBy:predicate:reverse">
                <td>
                    {{todo.question}}
                </td>
                <td>
                    <p ng-repeat="pregunta in todo.answer| orderBy:predicate:reverse">
                        {{pregunta.answer}}
                    </p>
                </td>
                <td>
                    <button class="button alt" ng-click="showAdvanced($event, todo)" flex="300" flex-gt-md="auto">Detalles</button>
                    <!--md-button class="md-primary md-raised" ng-click="showAdvanced($event, todo)" flex="100" flex-gt-md="auto">
                        Modificar
                    </md-button-->
                </td>
            </tr>
            <tr>
                <td colspan="3" style="alignment-baseline: center">
                    <md-button class="button alt" ng-click="showAdd($event)" flex="100" flex-gt-md="auto">Agregar</md-button>
                </td>
            </tr>       
        </tbody>
    </table>
</article>