<md-dialog aria-label="Client"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-model="locals">{{locals.client.name}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <image src="/clients/{{locals.client.id}}/picture" alt="" width="80" height="100"/>
                <h2 ng-model="locals">{{locals.client.name}}</h2>
                <h2 ng-model="locals">Id: {{locals.client.id}}</h2>
                <h2 ng-model="locals">Age: {{locals.client.age}}</h2>              
                <p ng-model="locals">{{locals.client.profileDescription}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Return
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
