<div class="row">
    <div class="8u 12u(mobile)">

        <!-- Content -->
        <!-- Subscription -->
        <article class="box post">
            <header class="major">
                <h2>Planes de Suscripción</h2>
            </header>
            <table>
                <tr>
                    <td> <input type="image" src="images/pic26.jpg" alt="FreePlanlogo" onclick="alert('Este plan es Gratis!')"> </td>
                    <td> <input type="image" src="images/pic27.jpg" alt="StandardPlanlogo" onclick="alert('Este plan tiene una valor $4 000 000 6 meses!')"> </td>
                    <td> <input type="image" src="images/pic28.jpg" alt="PremiumPlanlogo" onclick="alert('Este plan tiene una valor $7 500 000 12 meses!')"> </td>
                    
                    <!--<a href="#" class="button alt">Subscribe</a>-->
                </tr>
                <!--<tr>
                    <td><button type="button" onclick="alert('Este plan es Gratis!')"> Mas info</button> </td>
                    <td><button type="button" onclick="alert('Este plan tiene una valor $2000 6 meses!')">Mas info</button> </td>
                    <td><button type="button" onclick="alert('Este plan tiene una valor $3500 un año!')">Mas info</button> </td>
                </tr>-->
                    
            </table>
        </article>

        <!-- Test -->
        <article class="box post">
            <header class="major">
                <h2>Elaborar Test</h2>
            </header>
            <p>Ingresa aquí el Test vocacional que ayudará a los aspirantes a encontrar una carrera en la mejor universidad del país</p>
            <a href="#/test" class="button alt">Editar</a>
        </article>

        <!-- Information -->
        <article class="box post">
            <header class="major">
                <h2>Perfil de la Universidad</h2>
            </header>
            <form role="form" ng-submit="saveInfoUni($event)">
                <div class="form-group">
                    <input type="text" class="form-control" name="user" id="username" placeholder="Usuario" ng-model="user" disabled/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" ng-model="name"/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="email"/>
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" name="url" id="url" placeholder="Url" ng-model="url"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="city" id="city" placeholder="Ciudad" ng-model="city"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Dirección" ng-model="address"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="number" id="number" placeholder="Teléfono" ng-model="number"/>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" id="logoURL" accept="image/*">
                    <img id="logo" src="#" alt="your image" style="visibility:hidden;">
                </div>
                <div class="form-group">
                    <div class="12u">
                        <textarea name="desc" id="desc" placeholder="Descripción" rows="5" ng-model="desc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button alt">Guardar</button>
                </div>
            </form>
        </article>

        <!-- Carrers -->
        <article class="box post">
            <header class="major">
                <h2>Carreras</h2>
            </header>
            <form role="form" ng-submit="saveCarrers($event)" id="carrers">
                <div class="form-group">
                    <button type="submit" class="button alt">Agregar</button>
                </div>
                <div class="form-group" >
                    <select required id="name0" ng-model="cName[0]">
                        <option ng-repeat="todo in carrersALL" >{{todo}}</option>
                    </select>
                </div>
            </form>
        </article>

    </div>
    <div class="4u 12u(mobile)">

        <!-- Sidebar -->
        <!-- Calendar -->
        <section class="box">
            <a class="image featured"><img src="images/pic29.jpg" alt="" /></a>
            <header>
                <h2>Programar Visita</h2>
            </header>
            <p>Realiza un Tour por tus instalaciones para que los aspirantes se sientan más felices de ser parte de tu equipo</p>
            <a href="#/calendar" class="button alt">Editar</a>
        </section>

        <!-- Gallery -->
        <section class="box">
            <a class="image featured"><img src="images/pic30.jpg" alt="" /></a>
            <header>
                <h2>Galería</h2>
            </header>
            <p>Arma una galería con todos los proyectos innovadores en los que estés trabajando</p>
            <a href="#/uniReg" class="button alt" onclick="alert('¡Sección en construcción!')">Editar</a>
        </section>
    </div>
</div>
