<div class="row">
    <div class="8u 12u(mobile)">

        <!-- Content -->

        <!-- Test -->
        <article class="box post">
            <header class="major">
                <h2>Do Test</h2>
            </header>
            <a href="#/" class="button alt">Empezar ahora</a>
        </article>

        <!-- Information -->
        <article class="box post">
            <header class="major">
                <h2>Personal Information</h2>
            </header>
            <form role="form" ng-submit="saveInfoStu($event)">
                <div class="form-group">
                    <input type="text" class="form-control" name="user" id="username" placeholder="User" ng-model="user" disabled/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="password" placeholder="E-mail" ng-model="email"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" ng-model="name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="lastName" ng-model="lastName"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" ng-model="address"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="cellphone" id="cellphone" placeholder="Telephon Number" ng-model="cellphone"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="button alt">Actualizar</button>
                </div>
            </form>
        </article>

        <!-- Carrers -->
    </div>
    <div class="4u 12u(mobile)">

        <!-- Sidebar -->
        <!-- Calendar -->
        <section class="box">
            <a class="image featured"><img src="images/pic06.jpg" alt="" /></a>
            <header>
                <h3>Calendar</h3>
            </header>
            <a href="#/calendar" class="button alt">Edit</a>
        </section>
    </div>
</div>
