<div class="row">
    <div class="4u 12u(mobile)">

        <!-- Sidebar -->
        <section class="box">            
            <article class="box post">
                <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                <header>
                    <h3>Ingresar</h3>                    
                </header>
                <p id="warning" style="visibility:hidden; color: red; font-weight: bold">Username or password are incorrect. Please check them and try again.</p>
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                        <input type="text" placeholder="Usuario" class="form-control" ng-model="credentials.username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Contraseña" class="form-control" ng-model="credentials.password"/>
                    </div>
                    <button type="submit" class="button alt">Ingresar</button>
                </form>
            </article>
        </section>
        <section class="box">            
            <article class="box post">
                <a class="image featured"><img src="images/pic15.jpg" alt="" /></a>
                <header>
                    <h3>Registrar Estudiante</h3>                    
                </header>
                <form role="form" ng-submit="newStudent($event)">                    
                    <div class="form-group">
                        <input type="text" placeholder="E-mail" class="form-control" ng-model="REemail"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Usuario" class="form-control" ng-model="RUser"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Contraseña" class="form-control" ng-model="RPass"/>
                    </div>
                    <button type="submit" class="button alt">Registrar</button>
                </form>
            </article>
        </section>
    </div>

    <div class="8u 12u(mobile) important(mobile)">
        <header>            
            <h2>Oportunidades en Go2U :</h2>
        </header>
        <table class="table table-striped table-hover" >
            <tbody>
                <tr>
                    <th>                         
                        <section class="box">            
                            <article class="box post">
                                <a href="" class="image featured"><img src="images/pic23.jpg" alt="" /></a>                                
                            </article>
                            <p>Sabemos que escoger una vocación para toda la vida no es fácil.</p>
                        </section>
                    </th>
                
                    <th>
                        <section class="box">            
                            <article class="box post">                               
                                <a href="" class="image featured"><img src="images/pic24.jpg" alt="" /></a>                                                                 
                            </article>
                            <p>Es por eso que en Go2U te orientamos a escoger 
                               la carrera que mas se adecua a tu perfil y no solo eso.</p>
                        </section>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <section class="box">            
                            <article class="box post">
                                <a href="" class="image featured"><img src="images/pic25.jpg" alt="" /></a>                                
                            </article>
                            <p>Te brindamos toda la información sobre la carrera que escogiste y te ayudamos a
                                matricularte en la Universidad que mas se adecua a tus necesidades. A través de 
                                un test de vocación profesional, ayudamos a buscar la carrera que siempre habias soñado.</p>
                        </section>
                    </th>
                 </tr>
            </tbody>
        </table>
    </div>
</div>




<!--<footer>    
            <a href="#" class="image featured"><img src="images/pic.jpg" alt="" /></a>
        </footer>-->

<!--<header>            
            <h2 title="Go2U">DESCRIPCIÓN DE LA ORGANIZACIÓN</h2>
        </header>
        <h3>¿QUIENES SOMOS?</h3>
        <p>Somos una organización especializada en servicios de TI, la cual busca brindar el mayor beneficio
            a los estudiantes recién graduados del colegio.</p>
        <h3>¿QUÉ HACEMOS?</h3>
        <p>Resolvemos rápidamente todas las dudas que tengas sobre Universidades y carreras
            a las cuales puedas acceder según tus habilidades</p>
        <h3>¿CÓMO LO HACEMOS?</h3>
        <p>Ofrecemos test para distintos talentos los cuales darán como resultado una carrera profesional+
            y las mejores universidades dónde poder estudiar</p>
        <h3>NUESTRO OBJETIVO</h3>
        <p>Queremos que encuentres tu vocación profesional por medio de nuestros test y así poder facilitar
            tu proceso de inscripción en la universidad de tu preferencia</p>
-->
